.Power {
  background-color: #5d3880;
  color: white;
}
.Technique {
  background-color: #eae83d;
  color: black;
}
.Agility {
  background-color: #4965a6;
  color: white;
}
.Strike {
  background-color: #4965a6;
  color: white;
}
.Submission {
  background-color: #eae83d;
  color: black;
}
.Grapple {
  background-color: #5d3880;
  color: white;
}
.btn {
  background-color: red;
  color: white;
}

.button {
  width: 100%;
  margin: 5px;
  font-size: 30px;
}